.card {
    background-color: blueviolet;

    width: 12vw;
    height: 12vw;

    max-width: 11em;
    max-height: 11em;
}

.clicked {
    animation-duration: 1s;
    animation-name: flip;
}

@keyframes flip {
    from {
        transform: rotateY(0deg) scale(100%);
    }
    50% {
        transform: scale(95%);
    }
    to {
        transform: rotateY(180deg) scale(100%);
    }
}